
    #mplBuyContainer {
        border: 3px solid black;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

    }

    .mplBuylinks {
        color: #545454;
        font-size: 14px;
        margin: 14px 0 0 0;
        text-align: center;


    }

    /* myshippings */
    .mplShippings {
        color: #333333;
        font-size: 18px;
        line-height: 23.4px;
        margin: 0px 13px;
    }

    /*  */

    .mplBuyItDesc {
        width: 50%;
        background-color: whitesmoke;
        border-radius: 5px;
        background-color: #FFFFFF;
    }

    .mplBuyItDesc>.mplContactInfo {
        color: #545454;
        font-size: 14px;
        line-height: 14.2px;
        margin: 0px 24px;

    }

    .mplContactInfo {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .mplBuyItAmount {
        width: 40%;
        background-color: #FAFAFA;
        font-size: 14px;
        margin-top: 42px;
    }

    .mplShippingsInputs>input {
        width: 93%;
        padding: 5px;
        color: #333333;
        box-sizing: border-box;
        font-size: 14px;
        margin: 5px 23px;
        padding: 13px 11px 13px 11px;
        outline: rgb(51, 51, 51) dashed 0px;
        transition: all 0.2s ease-out 0s;
    }

    .mplShippingsInputsUser {
        display: flex;
    }

    .mplImages {
        display: flex;
        color: goldenrod;
        font-size: 18px;
        text-align: left;
        color: black;
        margin: 0px 42px;

    }

    .mplImages>p {
        padding-left: 12px;
        margin-left: 12px;
        margin-top: 32px;
    }

    /* mplApply */

    .mplTotalsApply {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    }

    .mplDiscounts {
        padding: 13px 11px 13px 11px;
        font-size: 14px;
        background-color: #FFFFFF;
        border: 1px solid #D5D5D5;
        cursor: text;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .mplDiscounts+button {
        background-color: #C8C8C8;
        border: none;
        color: white;
        border-radius: 5px;   
        width: 114px;
        height: 45px;
    }

    .mplShippings>p+p {
        margin-left: 260px;
    }

    hr {
        margin-top: 23px;
        width: 62vh;
    }